@model Contacts.Models.Profile

<dl class="dl-horizontal list-group">
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
    </div>
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
    </div>
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.MiddleName)</dt>
        <dd>@Html.DisplayFor(model => model.MiddleName)</dd>
    </div>
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.BirthDate)</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>
    </div>
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.Organization)</dt>
        <dd>@Html.DisplayFor(model => model.Organization)</dd>
    </div>
    <div class="list-group-item">
        <dt>@Html.DisplayNameFor(model => model.JobTitle)</dt>
        <dd>@Html.DisplayFor(model => model.JobTitle)</dd>
    </div>
</dl>